.tb-shop A {
	COLOR: #333
}

.tb-shop A:hover {
	COLOR: #cc0000
}

.tb-shop .box .bd {
	BORDER-RIGHT: #d1d7dc 1px solid;
	BORDER-TOP: #d1d7dc 1px solid;
	BORDER-LEFT: #d1d7dc 1px solid;
	BORDER-BOTTOM: #d1d7dc 1px solid
}

.tb-shop .shop-banner {
	BACKGROUND:
		url(http://img04.taobaocdn.com/imgextra/i4/T22mNcXilMXXXXXXXX-690323813.gif)
		no-repeat center bottom
}

.tb-shop .shop-header {
	BACKGROUND:
		url(http://img04.taobaocdn.com/imgextra/i4/T22mNcXilMXXXXXXXX-690323813.gif)
		no-repeat center bottom
}

.tb-shop .shop-header .hide-bg {
	BACKGROUND:
		url(http://img04.taobaocdn.com/imgextra/i4/T22mNcXilMXXXXXXXX-690323813.gif)
		no-repeat 50% bottom
}

.tb-shop .shop-banner .hide-bg {
	BACKGROUND:
		url(http://img04.taobaocdn.com/imgextra/i4/T22mNcXilMXXXXXXXX-690323813.gif)
		no-repeat 50% bottom
}

.tb-shop .col-main .box .shop-banner .bd {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	PADDING-BOTTOM: 0px;
	BORDER-TOP-STYLE: none;
	PADDING-TOP: 0px;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	BORDER-BOTTOM-STYLE: none
}

.tb-shop .col-main .box .shop-slider .bd {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	PADDING-BOTTOM: 0px;
	BORDER-TOP-STYLE: none;
	PADDING-TOP: 0px;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	BORDER-BOTTOM-STYLE: none
}

.tb-shop .shop-header .shop-title {
	PADDING-LEFT: 10px
}

.tb-shop .shop-header .shop-title A {
	FONT-WEIGHT: bold;
	FONT-SIZE: 34px;
	COLOR: #ffffff;
	FONT-FAMILY: & quot
}

.tb-shop .shop-header .shop-title P {
	MARGIN-TOP: 5px;
	COLOR: #eee
}

.tb-shop .shop-header .nav {
	BACKGROUND:
		url(http://img04.taobaocdn.com/imgextra/i4/T2Z9JcXipMXXXXXXXX-690323813.gif)
		repeat-x 50% bottom
}

.tb-shop .shop-header .nav {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	LINE-HEIGHT: 50px;
	PADDING-TOP: 0px;
	HEIGHT: 45px;
	TEXT-ALIGN: center
}

.tb-shop .shop-header .nav UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	LINE-HEIGHT: 50px;
	PADDING-TOP: 0px;
	HEIGHT: 45px;
	TEXT-ALIGN: center
}

.tb-shop .shop-header .nav LI {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	LINE-HEIGHT: 50px;
	PADDING-TOP: 0px;
	HEIGHT: 45px;
	TEXT-ALIGN: center
}

.tb-shop .shop-header .nav UL LI A {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	LINE-HEIGHT: 50px;
	PADDING-TOP: 0px;
	HEIGHT: 45px;
	TEXT-ALIGN: center
}

.tb-shop .shop-header .nav LI A EM {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	LINE-HEIGHT: 50px;
	PADDING-TOP: 0px;
	HEIGHT: 45px;
	TEXT-ALIGN: center
}

.tb-shop .shop-header .nav UL .current A EM {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	LINE-HEIGHT: 50px;
	PADDING-TOP: 0px;
	HEIGHT: 45px;
	TEXT-ALIGN: center
}

.tb-shop .shop-header .nav A:link {
	COLOR: #ccc
}

.tb-shop .shop-header .nav A:visited {
	COLOR: #ccc
}

.tb-shop .shop-header .nav .current A:link {
	COLOR: #ccc
}

.tb-shop .shop-header .nav .current A:visited {
	COLOR: #ccc
}

.tb-shop .shop-header .nav LI A EM {
	PADDING-RIGHT: 20px;
	PADDING-LEFT: 20px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}

.tb-shop .shop-header .nav UL .current A EM {
	PADDING-RIGHT: 20px;
	PADDING-LEFT: 20px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}

.tb-shop .shop-banner .nav LI.current A {
	FONT-WEIGHT: bold;
	BACKGROUND:
		url(http://img04.taobaocdn.com/imgextra/i4/T2Z9JcXipMXXXXXXXX-690323813.gif)
		repeat-x 50% top;
	COLOR: #fff
}

.tb-shop .shop-banner .nav LI A:hover {
	FONT-WEIGHT: bold;
	BACKGROUND:
		url(http://img04.taobaocdn.com/imgextra/i4/T2Z9JcXipMXXXXXXXX-690323813.gif)
		repeat-x 50% top;
	COLOR: #fff
}

.tb-shop .shop-banner .nav LI.current A EM {
	COLOR: #fff
}

.tb-shop .shop-banner .nav LI {
	BACKGROUND:
		url(http://img04.taobaocdn.com/imgextra/i4/T2ZmNcXilMXXXXXXXX-690323813.gif)
		no-repeat right bottom
}

.tb-shop .cat-all A {
	FONT-WEIGHT: bold;
	COLOR: #333
}

.tb-shop .cat-items .hd A {
	FONT-WEIGHT: bold;
	COLOR: #333
}

.tb-shop .cat-all P A {
	COLOR: #333
}

.tb-shop .cat-items .bd A {
	COLOR: #333
}

.tb-shop .col-sub A {
	COLOR: #333
}

.tb-shop .cat-all P A:hover {
	COLOR: #000
}

.tb-shop .cat-items .bd A:hover {
	COLOR: #000
}

.tb-shop .col-sub .shop-category A:hover {
	COLOR: #000
}

.tb-shop .cat-items {
	BORDER-RIGHT: #323232 3px solid;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #323232 3px solid;
	MARGIN-TOP: -8px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	BORDER-LEFT: #323232 3px solid;
	WIDTH: 780px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #323232 3px solid;
	_margin-top: 0px
}

.tb-shop .cat-items .cat-all {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	BACKGROUND: #e5e5e5;
	PADDING-BOTTOM: 5px;
	PADDING-TOP: 5px;
	TEXT-ALIGN: center
}

.tb-shop .cat-items .bd {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	PADDING-BOTTOM: 5px;
	PADDING-TOP: 5px
}

.tb-shop .cat-items .bd .cat-item {
	WIDTH: 240px
}

.tb-shop .box .hd H3 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	HEIGHT: 30px
}

.tb-shop .col-sub .box .shop-custom .bd {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}

.tb-shop .col-sub .box .hd {
	BACKGROUND:
		url(http://img02.taobaocdn.com/imgextra/i2/T2rCRcXilMXXXXXXXX-690323813.gif)
		no-repeat;
	HEIGHT: 30px
}

.tb-shop .col-sub .box .hd H3 {
	FONT-SIZE: 14px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR: #ffffff
}

.tb-shop .col-main .hd H3 {
	FONT-SIZE: 14px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR: #ffffff
}

.tb-shop .shop-custom .hd H3 {
	FONT-SIZE: 14px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR: #ffffff
}

.tb-shop .col-sub .box .hd H3 SPAN {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 30px;
	FONT-SIZE: 14px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	LINE-HEIGHT: 30px;
	PADDING-TOP: 0px;
	HEIGHT: 30px
}

.tb-shop .col-main .hd H3 SPAN {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 30px;
	FONT-SIZE: 14px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	LINE-HEIGHT: 30px;
	PADDING-TOP: 0px;
	HEIGHT: 30px
}

.tb-shop .col-main .box .hd {
	BACKGROUND:
		url(http://img01.taobaocdn.com/imgextra/i1/T279JcXilMXXXXXXXX-690323813.gif)
		no-repeat;
	HEIGHT: 30px
}

.tb-shop .shop-custom .hd {
	BACKGROUND:
		url(http://img01.taobaocdn.com/imgextra/i1/T279JcXilMXXXXXXXX-690323813.gif)
		no-repeat;
	HEIGHT: 30px
}

.tb-shop .col-main .box .bd {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	PADDING-TOP: 5px
}

.tb-shop .flow {
	BACKGROUND:
		url(http://img02.taobaocdn.com/imgextra/i2/T27fJCXb4aXXXXXXXX-141898016.gif)
		no-repeat 0px 0px;
	WIDTH: 750px;
	HEIGHT: 38px
}

.tb-shop .grid-s5m0 .grid LI {
	_margin-left: 9px
}

.tb-shop .grid-s5m0 .big LI {
	MARGIN: 0px 0px 20px 10px;
	_margin-left: 7px
}

.tb-shop .big LI {
	MARGIN: 0px 7px 20px 6px;
	WIDTH: 230px
}

.tb-shop .small LI {
	MARGIN: 0px 6px 20px;
	_margin-right: 4px
}

.tb-shop .grid .item .desc {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}

.tb-shop .grid .item .price SPAN {
	DISPLAY: none
}

.tb-shop .grid .price STRONG {
	PADDING-LEFT: 40px;
	FONT-SIZE: 14px;
	BACKGROUND:
		url(http://img02.taobaocdn.com/imgextra/i2/T249RcXilMXXXXXXXX-690323813.gif)
		no-repeat;
	COLOR: #cc0000;
	LINE-HEIGHT: 14px
}

.tb-shop .grid .pic A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-TOP-STYLE: none;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	BORDER-BOTTOM-STYLE: none
}

.tb-shop .grid .item .rating .small {
	DISPLAY: block
}

.tb-shop .grid .rating .c-value-no {
	MARGIN-TOP: 3px
}

.tb-shop .grid .item .pic {
	WIDTH: 170px;
	BORDER-TOP-STYLE: none;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	HEIGHT: 170px;
	BORDER-BOTTOM-STYLE: none
}

.tb-shop .grid .item .pic A {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 4px;
	OVERFLOW: hidden;
	WIDTH: 160px;
	PADDING-TOP: 4px;
	HEIGHT: 160px
}

.tb-shop .grid .item .pic A:hover {
	BORDER-RIGHT: #cc0000 4px solid;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #cc0000 4px solid;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	BORDER-LEFT: #cc0000 4px solid;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #cc0000 4px solid
}

.tb-shop .big .item .pic {
	WIDTH: 230px;
	HEIGHT: 230px
}

.tb-shop .big .item .pic A {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	WIDTH: 220px;
	PADDING-TOP: 0px;
	HEIGHT: 220px
}

.tb-shop .small .item .pic {
	WIDTH: 130px;
	HEIGHT: 130px
}

.tb-shop .small .item .pic A {
	WIDTH: 120px;
	HEIGHT: 120px
}

.tb-shop .col-sub .shop-category .cats {
	WIDTH: 170px
}

.tb-shop .col-sub .shop-category .cat {
	WIDTH: 170px
}

.tb-shop .col-sub .shop-category .cat A {
	COLOR: #333333
}

.tb-shop .shop-category .bd {
	PADDING-RIGHT: 9px;
	PADDING-LEFT: 9px;
	PADDING-BOTTOM: 5px;
	PADDING-TOP: 5px
}

.tb-shop .shop-category .bd H4 {
	PADDING-LEFT: 0px;
	WIDTH: 170px;
	PADDING-TOP: 0px;
	POSITION: relative
}

.tb-shop .shop-category .bd .cat H4 A {
	DISPLAY: block;
	BACKGROUND:
		url(http://img04.taobaocdn.com/imgextra/i4/T2Z9VcXilMXXXXXXXX-690323813.gif)
		no-repeat;
	MARGIN-LEFT: 0px;
	COLOR: #ffffff;
	TEXT-INDENT: 20px;
	LINE-HEIGHT: 28px;
	HEIGHT: auto ! important
}

.tb-shop .shop-category .bd .cat H4 A:hover {
	BACKGROUND:
		url(http://img02.taobaocdn.com/imgextra/i2/T2J9NcXilMXXXXXXXX-690323813.gif)
		no-repeat;
	COLOR: #fff
}

.tb-shop .col-sub .shop-category IMG {
	DISPLAY: block
}

.tb-shop .shop-category I {
	MARGIN-TOP: 7px;
	DISPLAY: block;
	MARGIN-LEFT: -18px;
	CURSOR: pointer;
	POSITION: absolute;
	_margin-left: 2px
}

.tb-shop .shop-category .bd .cat-bd {
	MARGIN-LEFT: 0px
}

.tb-shop .shop-category .bd .cat-bd LI {
	PADDING-TOP: 3px
}

.tb-shop .shop-category .bd .cat-bd LI A {
	DISPLAY: block;
	BACKGROUND:
		url(http://img02.taobaocdn.com/imgextra/i2/T2hmRcXilMXXXXXXXX-690323813.gif)
		no-repeat 0px 0px;
	COLOR: #333;
	TEXT-INDENT: 20px;
	LINE-HEIGHT: 26px;
	HEIGHT: auto ! important
}

.tb-shop .shop-category .bd .cat-bd LI A:hover {
	DISPLAY: block;
	FONT-WEIGHT: normal;
	BACKGROUND:
		url(http://img03.taobaocdn.com/imgextra/i3/T2SCJcXipMXXXXXXXX-690323813.gif)
		no-repeat 0px 0px
}

.tb-shop .col-main .shop-hesper .grid {
	BORDER-TOP-STYLE: none;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	BORDER-BOTTOM-STYLE: none
}

.tb-shop .shop-bbs .handle {
	MARGIN-RIGHT: 120px
}

.tb-shop .shop-bbs .handle A {
	COLOR: #ffffff
}

.tb-shop .col-main .shop-bbs .bd {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}

.tb-shop .pagination A:hover {
	BACKGROUND: #333
}

.tb-shop .more-items A {
	COLOR: #fff
}

.tb-shop .more-items A:hover {
	COLOR: #333
}

.tb-shop .correlative-items .grid .price {
	BACKGROUND: none transparent scroll repeat 0% 0%
}

.tb-shop .recommend .item .pic A {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}

.tb-shop .correlative-items .grid .item .pic A {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}

.tb-shop .sfq UL .neirong {
	DISPLAY: none
}

.tb-shop .sfq UL .biaoti {
	PADDING-LEFT: 20px;
	BACKGROUND:
		url(http://img03.taobaocdn.com/imgextra/i3/T2UmVcXipMXXXXXXXX-690323813.gif)
		no-repeat;
	CURSOR: pointer;
	LINE-HEIGHT: 25px;
	HEIGHT: 25px
}

.tb-shop .sfq UL .ks-active {
	BACKGROUND:
		url(http://img01.taobaocdn.com/imgextra/i1/T2uCNcXilMXXXXXXXX-690323813.gif)
		no-repeat;
	COLOR: #fff;
	LINE-HEIGHT: 26px;
	HEIGHT: 25px
}

.tb-shop .sfq UL .neirong {
	TEXT-ALIGN: center
}

.tb-shop .fixedab {
	POSITION: fixed;
	_position: absolute
}

</
STYLE><!--[if IE 6]> <style>html {
	background: url(null) fixed;
}

#ds-toolbar {
	top: expression(documentElement . scrollTop);
}

.switch-mod {
	top: expression(documentElement . scrollTop +50);
}