#hd .shop-banner .bd {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#hd .shop-search-x .bd {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.eshop .shop-header {
	Z-INDEX: 101; OVERFLOW: hidden
}
.eshop .shop-header .nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 102; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: auto; PADDING-TOP: 0px; HEIGHT: auto
}
.eshop .shop-header .nav-cart {
	Z-INDEX: 103
}
.eshop .shop-header .nav-attach {
	Z-INDEX: 104
}
.eshop .shop-header .nav LI {
	BACKGROUND-POSITION: 100% -36px; FLOAT: left; MARGIN: 0px; OVERFLOW: visible; LINE-HEIGHT: 38px; ZOOM: 1; HEIGHT: 38px
}
.eshop .shop-header .nav LI A {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.eshop .shop-header .nav LI A EM {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.eshop .flash-banner .nav {
	POSITION: absolute
}
.box .hd {
	HEIGHT: auto
}
.ext .shop-header .shop-summary IMG {
	WIDTH: auto; HEIGHT: auto
}
.eshop .shop-header .shop-title H2 {
	COLOR: #000
}
.eshop .shop-header .shop-summary P {
	COLOR: #000
}
.eshop .shop-header .nav {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.eshop .shop-header .nav UL {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.eshop .shop-header .nav LI {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.eshop .shop-header .nav .current A {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.eshop .shop-header .nav .current A EM {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.eshop .shop-header .nav .hover {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.eshop .shop-header .nav .hover EM {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.eshop .shop-header .nav-cart {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.eshop .shop-header .nav-cart UL {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.eshop .shop-header .nav-cart LI {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.eshop .box DIV.hd {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.eshop .box .hd H3 {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.eshop .box .hd H3 SPAN {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.icon-cart A {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.eshop .shop-header .nav-cart LI A {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.ext #detail .tabbar LI {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.ext #detail .tabbar LI A {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.ext #detail .tabbar LI.selected {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.ext #detail .tabbar LI.selected A {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.eshop .shop-header .nav-attach {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.eshop .shop-header .nav-attach .entity {
	BACKGROUND-IMAGE: url(http://img03.taobaocdn.com/tps/i3/T1uudqXftlXXXXXXXX-750-440.png)
}
.ext #detail .property .key .action .btn-buy A {
	BACKGROUND-IMAGE: url(http://img04.taobaocdn.com/tps/i4/T1tKhqXldiXXXXXXXX-560-36.png)
}
.ext #detail .property .key .action .btn-bid A {
	BACKGROUND-IMAGE: url(http://img04.taobaocdn.com/tps/i4/T1tKhqXldiXXXXXXXX-560-36.png)
}
.ext #detail .property .key .action .btn-add A {
	BACKGROUND-IMAGE: url(http://img04.taobaocdn.com/tps/i4/T1tKhqXldiXXXXXXXX-560-36.png)
}
.ext #detail .property .key .action .btn-wait A {
	BACKGROUND-IMAGE: url(http://img04.taobaocdn.com/tps/i4/T1tKhqXldiXXXXXXXX-560-36.png)
}
.hidden {
	DISPLAY: none
}
.hidden {
	DISPLAY: none
}
.layout {
	MARGIN-BOTTOM: 6px
}
.box {
	MARGIN-BOTTOM: 6px
}
.eshop .col-sub .box {
	MARGIN-BOTTOM: 6px
}
.eshop .col-extra .box {
	MARGIN-BOTTOM: 6px
}
.eshop .box .hd {
	WORD-WRAP: break-word
}
.eshop .box .hd {
	WORD-WRAP: break-word
}
.eshop .shop-header .box {
	MARGIN-TOP: 0px
}
.eshop .shop-header {
	MARGIN: 0px auto; OVERFLOW: hidden; POSITION: relative; HEIGHT: 110px
}
.eshop .shop-header .shop-summary .shop-regular-hd {
	LEFT: 0px; POSITION: absolute; TOP: 10px
}
.eshop .shop-header .nav {
	BACKGROUND-POSITION: 0px -75px; LEFT: 0px; WIDTH: 100%; BOTTOM: 0px; POSITION: absolute; HEIGHT: 39px
}
.eshop .shop-header .nav UL {
	BACKGROUND-POSITION: 100% -114px; PADDING-LEFT: 20px; MARGIN-LEFT: 5px; OVERFLOW: hidden; BACKGROUND-REPEAT: no-repeat; HEIGHT: 39px
}
.eshop .shop-header .nav LI.current {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.eshop .shop-header .nav .hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.eshop .shop-header .nav LI A {
	DISPLAY: inline-block; FONT-WEIGHT: 700; CURSOR: pointer; LINE-HEIGHT: 33px; HEIGHT: 33px
}
.eshop .shop-header .nav LI A EM {
	DISPLAY: inline-block; FONT-WEIGHT: 700; CURSOR: pointer; LINE-HEIGHT: 33px; HEIGHT: 33px
}
.eshop .shop-header .nav LI A {
	FONT-WEIGHT: 700; COLOR: #fff; POSITION: relative
}
.eshop .shop-header .nav LI A EM {
	PADDING-RIGHT: 15px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 5px; PADDING-TOP: 0px
}
.eshop .shop-header .nav LI.current A {
	BACKGROUND-POSITION: 0px 0px; FONT-SIZE: 14px; COLOR: #000; TEXT-DECORATION: none
}
.eshop .shop-header .nav .hover {
	BACKGROUND-POSITION: 0px 0px; FONT-SIZE: 14px; COLOR: #000; TEXT-DECORATION: none
}
.eshop .shop-header .nav LI.current A EM {
	BACKGROUND-POSITION: 100% 0px
}
.eshop .shop-header .nav .hover EM {
	BACKGROUND-POSITION: 100% 0px
}
.eshop .shop-header .nav-attach {
	BACKGROUND-POSITION: 0px -357px; RIGHT: 5px; POSITION: absolute; TOP: 0px; HEIGHT: 25px
}
.eshop .shop-header .nav-attach .entity {
	BACKGROUND-POSITION: 100% -357px; FLOAT: left; MARGIN-LEFT: 5px; HEIGHT: 25px
}
.eshop #hd .shop-header .nav-attach LI {
	BORDER-RIGHT: #b6d2ea 1px solid; PADDING-RIGHT: 15px! important; MARGIN-TOP: 5px; PADDING-LEFT: 15px! important; FLOAT: left; PADDING-BOTTOM: 0px! important; LINE-HEIGHT: 14px; PADDING-TOP: 0px! important; HEIGHT: 14px
}
.eshop .shop-header .nav-attach .no-border {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.eshop .shop-header .nav-attach .combo-more {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.eshop .shop-header .nav-attach .combo-more {
	PADDING-RIGHT: 10px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.eshop .shop-header .nav-attach .icon-more {
	BACKGROUND-POSITION: 0px -233px; DISPLAY: block; OVERFLOW: hidden; WIDTH: 7px; TEXT-INDENT: -9999px; HEIGHT: 25px
}
.eshop .shop-header .nav-attach .lst-more {
	DISPLAY: none; POSITION: absolute
}
.eshop .shop-header .nav-cart {
	BACKGROUND-POSITION: 0px -242px; RIGHT: 5px; FLOAT: left; BOTTOM: 6px; LINE-HEIGHT: 25px; POSITION: absolute; HEIGHT: 25px
}
.eshop .shop-header .nav-cart UL {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: 100% -242px; FLOAT: left; MARGIN-LEFT: 5px; HEIGHT: 25px
}
.eshop .shop-header .nav-cart LI {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: 100% -268px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.eshop .shop-header .nav-cart .icon-bill {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.eshop .shop-header .nav-cart LI A {
	DISPLAY: inline-block; COLOR: #343436
}
.icon-cart A {
	BACKGROUND-POSITION: -11px -267px; PADDING-LEFT: 30px
}
.icon-bill A {
	BACKGROUND-POSITION: -189px -267px; PADDING-LEFT: 20px
}
.eshop .box DIV.hd {
	BORDER-RIGHT: #999 1px solid; BACKGROUND-POSITION: 0px -183px; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 0px solid; HEIGHT: 30px; BACKGROUND-COLOR: #999
}
.manage .box .hd {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.col-main .box .shop-hesper .shop-search {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.eshop .box .hd H3 {
	BORDER-RIGHT: 0px; BACKGROUND-POSITION: 0px -153px; BORDER-TOP: 0px; FLOAT: left; MARGIN-BOTTOM: 3px; MARGIN-LEFT: 10px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; HEIGHT: 27px; _display: inline
}
.eshop .box .hd H3 SPAN {
	PADDING-RIGHT: 20px; BACKGROUND-POSITION: 100% -153px; DISPLAY: inline-block; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 10px; COLOR: #fff; LINE-HEIGHT: 27px; PADDING-TOP: 0px; HEIGHT: 27px
}
.eshop .box .bd {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; BACKGROUND-COLOR: #fff
}
.eshop .box .shop-hesper .bd {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.cats {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.cats .cat {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.cats .cat H4 {
	FONT-SIZE: 14px
}
.cats .cat H4 A {
	COLOR: #000
}
.cats .cat .cat-bd A {
	COLOR: #333
}
.eshop .col-sub .box .shop-rank .bd {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 0px
}
.eshop .col-extra .box .shop-rank .bd {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 0px
}
.shop-rank .rank-tab .tab-nav LI A SPAN {
	COLOR: #666
}
.shop-rank .rank-tab .tab-nav LI.selected A:link {
	FONT-WEIGHT: normal; COLOR: #000
}
.shop-rank .rank-tab .tab-nav LI.selected A:hover {
	FONT-WEIGHT: normal; COLOR: #000
}
.shop-rank .rank-tab .tab-nav A {
	BACKGROUND: none transparent scroll repeat 0% 0%; LINE-HEIGHT: 28px; PADDING-TOP: 0px
}
.shop-rank .rank-tab .tab-nav A SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%; LINE-HEIGHT: 28px; PADDING-TOP: 0px
}
.shop-rank .rank-tab .tab-nav .selected A {
	BACKGROUND: none transparent scroll repeat 0% 0%; LINE-HEIGHT: 28px; PADDING-TOP: 0px
}
.shop-rank .rank-tab .tab-nav .selected A SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%; LINE-HEIGHT: 28px; PADDING-TOP: 0px
}
.shop-rank .rank-tab .tab-nav A:hover {
	TEXT-DECORATION: none
}
.shop-rank .rank-tab .tab-nav .selected A {
	BORDER-RIGHT: #e2e2e2 1px solid; BORDER-TOP: #e2e2e2 1px solid; MARGIN-TOP: 2px; BORDER-LEFT: #e2e2e2 1px solid; BORDER-BOTTOM: #e2e2e2 0px solid; BACKGROUND-COLOR: #fff
}
.ext #detail .tabbar {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM: #cbcbcb 1px solid; HEIGHT: 29px
}
.ext #detail .tabbar LI {
	BACKGROUND-POSITION: 0px -328px; MARGIN-TOP: 2px; LINE-HEIGHT: 27px; HEIGHT: 27px
}
.ext #detail .tabbar LI A {
	BACKGROUND-POSITION: 100% -328px; MARGIN-LEFT: 2px; COLOR: #343434
}
.ext #detail .tabbar LI A:hover {
	COLOR: #343434
}
.ext #detail .tabbar LI.selected {
	BACKGROUND-POSITION: 0px -296px; MARGIN-TOP: 0px; LINE-HEIGHT: 29px; POSITION: relative; TOP: 1px; HEIGHT: 29px
}
.ext #detail .tabbar LI.selected A {
	BACKGROUND-POSITION: 100% -296px; FONT-WEIGHT: 700; COLOR: #030303
}
.ext #detail .tabbar LI.selected A:hover {
	COLOR: #030303
}
.shop-search LI.submit {
	TEXT-ALIGN: center
}
.search-form {
	PADDING-BOTTOM: 10px
}
.cat-items A {
	COLOR: #000
}
