.section {
	MARGIN: 0px auto; WIDTH: 950px
}
.layout {
	MARGIN: 0px auto; WIDTH: 950px
}
#hd {
	PADDING-BOTTOM: 10px
}
.no-border {
	BORDER-TOP-WIDTH: 0px! important; PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BORDER-LEFT-WIDTH: 0px! important; BORDER-BOTTOM-WIDTH: 0px! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important; BORDER-RIGHT-WIDTH: 0px! important
}
.no-border .bd {
	BORDER-TOP-WIDTH: 0px! important; PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BORDER-LEFT-WIDTH: 0px! important; BORDER-BOTTOM-WIDTH: 0px! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important; BORDER-RIGHT-WIDTH: 0px! important
}
.col-sub {
	OVERFLOW: hidden; WIDTH: 190px
}
.col-extra {
	OVERFLOW: hidden; WIDTH: 190px
}
.grid-m0 .main-wrap {
	OVERFLOW: hidden; WIDTH: 950px
}
.grid-m .main-wrap {
	OVERFLOW: hidden; WIDTH: 950px
}
.grid-s5m0 .main-wrap {
	OVERFLOW: hidden; WIDTH: 750px
}
.grid-m0s5 .main-wrap {
	OVERFLOW: hidden; WIDTH: 750px
}
.grid-s5m0e5 .main-wrap {
	OVERFLOW: hidden; WIDTH: 550px
}
.grid-e5m0s5 .main-wrap {
	OVERFLOW: hidden; WIDTH: 550px
}
.grid-m0s5e5 .main-wrap {
	OVERFLOW: hidden; WIDTH: 550px
}
.grid-m0e5s5 .main-wrap {
	OVERFLOW: hidden; WIDTH: 550px
}
.grid-s5e5m0 .main-wrap {
	OVERFLOW: hidden; WIDTH: 550px
}
.grid-e5s5m0 .main-wrap {
	OVERFLOW: hidden; WIDTH: 550px
}
.grid-m .main-wrap {
	WIDTH: 100%
}
.expanded .main-wrap {
	WIDTH: 100%
}
.button {
	BACKGROUND: url(http://img05.taobaocdn.com/tps/i5/T1JLtRXhlAXXXXXXXX-128-83.png) no-repeat
}
.box I {
	BACKGROUND: url(http://img05.taobaocdn.com/tps/i5/T1JLtRXhlAXXXXXXXX-128-83.png) no-repeat
}
.mode A {
	BACKGROUND: url(http://img05.taobaocdn.com/tps/i5/T1JLtRXhlAXXXXXXXX-128-83.png) no-repeat
}
.shop-search-x .text {
	BACKGROUND: url(http://img05.taobaocdn.com/tps/i5/T1JLtRXhlAXXXXXXXX-128-83.png) no-repeat
}
.c-value-no {
	BACKGROUND: url(http://img05.taobaocdn.com/tps/i5/T1JLtRXhlAXXXXXXXX-128-83.png) no-repeat
}
.c-value-no I {
	BACKGROUND: url(http://img05.taobaocdn.com/tps/i5/T1JLtRXhlAXXXXXXXX-128-83.png) no-repeat
}
.box I {
	DISPLAY: inline-block; VERTICAL-ALIGN: top; OVERFLOW: hidden; WIDTH: 16px; HEIGHT: 16px
}
.button {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: 700; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 60px; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
.box {
	MARGIN-BOTTOM: 10px; WIDTH: 100%
}
.box .hd {
	BORDER-RIGHT: #ffb0b9 0px solid; BORDER-TOP: #ffb0b9 0px solid; OVERFLOW: hidden; BORDER-LEFT: #ffb0b9 0px solid; BORDER-BOTTOM: #ffb0b9 0px solid; HEIGHT: 23px
}
.box .hd H3 {
	PADDING-LEFT: 10px; FONT-WEIGHT: 700; FONT-SIZE: 12px; MARGIN: 0px; OVERFLOW: hidden
}
.box .hd H3 {
	COLOR: #db4c5e; LINE-HEIGHT: 27px! important; _line-height: 25px
}
.box .bd {
	BORDER-RIGHT: #ffb0b9 0px solid; BORDER-TOP: #ffb0b9 0px solid; BORDER-LEFT: #ffb0b9 0px solid; BORDER-BOTTOM: #ffb0b9 0px solid; ZOOM: 1; BACKGROUND-COLOR: #fff
}
.box .bd:unknown {
	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: ' '
}
.col-sub .box {
	MARGIN-BOTTOM: 0px
}
.col-extra .box {
	MARGIN-BOTTOM: 0px
}
.col-sub .box .hd {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; LINE-HEIGHT: 24px; BORDER-RIGHT-WIDTH: 1px
}
.col-extra .box .hd {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; LINE-HEIGHT: 24px; BORDER-RIGHT-WIDTH: 1px
}
.col-sub .bd {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 0px; PADDING-LEFT: 9px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; PADDING-BOTTOM: 9px; PADDING-TOP: 9px; BORDER-RIGHT-WIDTH: 1px
}
.col-extra .bd {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 0px; PADDING-LEFT: 9px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; PADDING-BOTTOM: 9px; PADDING-TOP: 9px; BORDER-RIGHT-WIDTH: 1px
}
.pagination {
	FLOAT: right
}
.pagination A {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 0.5em; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #ccc 1px solid; COLOR: #03c; MARGIN-RIGHT: 5px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #fff; TEXT-DECORATION: none
}
.pagination .break {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-RIGHT: 5px; PADDING-TOP: 0px
}
.pagination A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #09f
}
.pagination .disable {
	CURSOR: no-drop; COLOR: #a7a0ab; BACKGROUND-COLOR: #fff
}
.pagination .disable:hover {
	CURSOR: no-drop; COLOR: #a7a0ab; BACKGROUND-COLOR: #fff
}
.pagination .page-cur {
	FONT-WEIGHT: 700; BORDER-LEFT-COLOR: #fff; BORDER-BOTTOM-COLOR: #fff; CURSOR: default; COLOR: #f60; BORDER-TOP-COLOR: #fff; BACKGROUND-COLOR: #fff; BORDER-RIGHT-COLOR: #fff
}
.pagination .page-cur:hover {
	FONT-WEIGHT: 700; BORDER-LEFT-COLOR: #fff; BORDER-BOTTOM-COLOR: #fff; CURSOR: default; COLOR: #f60; BORDER-TOP-COLOR: #fff; BACKGROUND-COLOR: #fff; BORDER-RIGHT-COLOR: #fff
}
.pagination A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 3px 0px 0px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; LINE-HEIGHT: 20px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 20px; TEXT-ALIGN: center
}
.page-info {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 3px 0px 0px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; LINE-HEIGHT: 20px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 20px; TEXT-ALIGN: center
}
.page-prev {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 3px 0px 0px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; LINE-HEIGHT: 20px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 20px; TEXT-ALIGN: center
}
.page-cur {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 3px 0px 0px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; LINE-HEIGHT: 20px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 20px; TEXT-ALIGN: center
}
.page-start {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 3px 0px 0px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; LINE-HEIGHT: 20px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 20px; TEXT-ALIGN: center
}
.page-end {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 3px 0px 0px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; LINE-HEIGHT: 20px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 20px; TEXT-ALIGN: center
}
.page-break {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 3px 0px 0px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; LINE-HEIGHT: 20px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 20px; TEXT-ALIGN: center
}
.pagination FORM {
	FLOAT: left
}
.pagination INPUT {
	BORDER-RIGHT: #a7a6aa 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #a7a6aa 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; MARGIN: 0px 0.5em; BORDER-LEFT: #a7a6aa 1px solid; WIDTH: 25px; PADDING-TOP: 0px; BORDER-BOTTOM: #a7a6aa 1px solid; HEIGHT: 16px; TEXT-ALIGN: center
}
.pagination BUTTON {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 5px; VERTICAL-ALIGN: top; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 19px; BACKGROUND-COLOR: #f5f5f5
}
.pagination-mini {
	MARGIN-TOP: 3px; COLOR: #a7a0ab
}
.pagination-mini .page-info {
	MARGIN-RIGHT: 0.5em
}
.shop-infocard .bd #infocard {
	PADDING-RIGHT: 50px; PADDING-LEFT: 50px; BACKGROUND: url(http://a.tbcdn.cn/app/shop/images/bg_managerinfo.png) no-repeat center top; PADDING-BOTTOM: 50px; MARGIN: 20px auto; WIDTH: 470px; PADDING-TOP: 50px; HEIGHT: 400px; TEXT-ALIGN: left
}
.shop-infocard .bd #infocard H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-BOTTOM: 10px; TEXT-ALIGN: center
}
.shop-infocard .bd #infocard DL {
	MARGIN: 0px 20px
}
.shop-infocard .bd #infocard DT {
	FONT-WEIGHT: bold; MARGIN: 10px 0px 2px; COLOR: #666
}
.shop-infocard .bd #infocard DD {
	MARGIN-LEFT: 20px
}
.shop-infocard .bd #infocard DD LI {
	MARGIN-BOTTOM: 5px; COLOR: #333; LIST-STYLE-TYPE: circle
}
.box .shop-slider .bd {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.slider-promo {
	OVERFLOW: hidden; POSITION: relative; HEIGHT: 258px
}
.slider-promo .lst-main {
	OVERFLOW: hidden; _width: 100%
}
.slider-promo .lst-main LI A {
	DISPLAY: block; OVERFLOW: hidden
}
.slider-promo .lst-trigger {
	Z-INDEX: 10; RIGHT: 4px; COLOR: #fff; BOTTOM: 9px; LINE-HEIGHT: 17px; POSITION: absolute; HEIGHT: 19px
}
.slider-promo .lst-trigger LI {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; FONT-WEIGHT: 700; FLOAT: left; BORDER-LEFT: #fff 1px solid; WIDTH: 17px; CURSOR: pointer; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: auto; BACKGROUND-COLOR: #999; TEXT-ALIGN: center
}
.slider-promo .lst-trigger .current {
	WIDTH: 22px; BACKGROUND-COLOR: #000
}
.slider-promo IMG {
	VERTICAL-ALIGN: top
}
.shop-bbs .hd {
	Z-INDEX: 1; POSITION: relative
}
.shop-bbs .handle {
	Z-INDEX: 1; RIGHT: 5px; POSITION: absolute; TOP: 3px
}
.shop-bbs TBODY TR .discuss-content {
	WIDTH: 590px
}
.shop-bbs TABLE .date {
	MARGIN-LEFT: 1em; COLOR: #808080
}
.shop-bbs TABLE DL {
	BORDER-RIGHT: #ffe5a8 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffe5a8 1px solid; PADDING-LEFT: 5.5em; PADDING-BOTTOM: 2px; MARGIN: 0px 10px 5px 0px; OVERFLOW: hidden; BORDER-LEFT: #ffe5a8 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #ffe5a8 1px solid; ZOOM: 1; BACKGROUND-COLOR: #ffffcf
}
.shop-bbs DL DT {
	FLOAT: left; MARGIN-LEFT: -5em; COLOR: #848484; _display: inline
}
.shop-bbs DL DD {
	FLOAT: left; WIDTH: 585px
}
.shop-bbs .reply TD {
	PADDING-TOP: 0px
}
.shop-bbs .line TD {
	WORD-BREAK: break-all; BORDER-BOTTOM: #ddd 1px solid
}
.shop-bbs TABLE {
	WIDTH: 100%
}
.shop-bbs TABLE TH {
	PADDING-RIGHT: 10px; PADDING-LEFT: 4px; PADDING-BOTTOM: 3px; PADDING-TOP: 4px
}
.shop-bbs TABLE TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 4px; PADDING-BOTTOM: 3px; PADDING-TOP: 4px
}
.shop-bbs THEAD TH {
	COLOR: #808080; BORDER-BOTTOM: #cbcbcb 1px solid; TEXT-ALIGN: center
}
.shop-bbs TBODY .message {
	PADDING-RIGHT: 5px
}
.shop-bbs TBODY .user {
	WIDTH: 80px
}
.shop-bbs TBODY .detail {
	WIDTH: 80px; TEXT-ALIGN: right
}
.shop-bbs TBODY TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 7px; COLOR: #000; WORD-BREAK: break-all; PADDING-TOP: 8px; WORD-WRAP: break-word
}
.shop-bbs TBODY .message A {
	PADDING-LEFT: 16px; LINE-HEIGHT: 16px
}
.shop-bbs TBODY .user {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: center
}
.shop-bbs .shop-discuss-table .detail {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: center
}
.shop-bbs .shop-discuss-table .detail {
	VERTICAL-ALIGN: middle
}
.shop-bbs TBODY .even {
	BACKGROUND: #f5f5f5
}
.shop-bbs TABLE A {
	COLOR: #36c
}
.shop-category I {
	DISPLAY: none
}
.shop-category .cat H4 {
	PADDING-LEFT: 16px; BACKGROUND: url(http://img05.taobaocdn.com/tps/i5/T1AHpUXgliXXXXXXXX-80-134.png) no-repeat
}
.cats .cat H4 {
	BACKGROUND-POSITION: -70px 7px
}
.cats .collapse .cat-hd {
	BACKGROUND-POSITION: -60px -13px
}
.shop-category .cats H4.collapse {
	BACKGROUND-POSITION: -60px -13px
}
.cats .collapse .cat-hd {
	BACKGROUND-POSITION: -50px -33px
}
.cats .expand .cat-hd {
	BACKGROUND-POSITION: -50px -33px
}
.shop-category .cats {
	OVERFLOW: hidden; WIDTH: 178px; ZOOM: 1
}
.shop-category .cat {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #eee 1px dashed
}
.shop-category IMG {
	VERTICAL-ALIGN: top
}
.shop-category .cat H4 {
	FONT-WEIGHT: 700; LINE-HEIGHT: 16px; PADDING-TOP: 3px; ZOOM: 1; _line-height: 14px
}
.shop-category .cat-bd {
	MARGIN: 0px 0px 0px 15px; OVERFLOW: hidden
}
.shop-category .cat-bd LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.shop-category I {
	BACKGROUND-POSITION: 0px -40px
}
.shop-category .expand I {
	BACKGROUND-POSITION: -32px -40px
}
.shop-category .collapse I {
	BACKGROUND-POSITION: -16px -40px
}
.cvl-normal LI {
	BACKGROUND: url(http://img04.taobaocdn.com/tps/i4/T1U0xIXnXbXXXXXXXX-16-33.png) no-repeat
}
.cms-cat DD {
	BACKGROUND: url(http://img04.taobaocdn.com/tps/i4/T1U0xIXnXbXXXXXXXX-16-33.png) no-repeat
}
.cva-text LI {
	BACKGROUND: url(http://img04.taobaocdn.com/tps/i4/T1U0xIXnXbXXXXXXXX-16-33.png) no-repeat
}
.cvl-line LI H3 {
	BACKGROUND: url(http://img04.taobaocdn.com/tps/i4/T1U0xIXnXbXXXXXXXX-16-33.png) no-repeat
}
.cmsview-list-line .bd {
	PADDING-LEFT: 0px! important; OVERFLOW: hidden; WIDTH: 188px
}
.main-wrap .cmsview-list-line .bd {
	WIDTH: auto
}
.cmsview-list-line .more {
	FLOAT: right
}
.cmsview-list-line .date {
	FLOAT: right; COLOR: #9c9c9c
}
.cmsview-list-line P {
	COLOR: #9e9e9e
}
.cvl-normal LI {
	PADDING-RIGHT: 8px; BACKGROUND-POSITION: 5px -15px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; LINE-HEIGHT: 30px; PADDING-TOP: 0px
}
.cvl-normal LI .split {
	BACKGROUND-COLOR: #f5f5f5
}
.cvl-normal LI .title {
	MARGIN-LEFT: 10px
}
.cvl-normal LI EM {
	COLOR: #f60
}
.page-bottom {
	FLOAT: right
}
.cvl-img LI:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: ""
}
.cvl-img LI {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; ZOOM: 1
}
.cvl-img LI IMG {
	FLOAT: left; WIDTH: 90px; MARGIN-RIGHT: 10px; HEIGHT: 90px
}
.cvl-img LI H3 A {
	COLOR: #000
}
.cvl-line LI {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.cvl-line LI H3 {
	BACKGROUND-POSITION: 5px -15px; PADDING-LEFT: 20px; LINE-HEIGHT: 30px; WHITE-SPACE: nowrap; HEIGHT: 30px
}
.cvl-line LI H3 A {
	FLOAT: left; COLOR: #000
}
.cms-detail .bd {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; OVERFLOW-X: hidden; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.cms-detail H1 {
	FONT-WEIGHT: 700; FONT-SIZE: 20px; TEXT-ALIGN: center
}
.cms-detail .post_date {
	PADDING-BOTTOM: 10px; COLOR: #808080; TEXT-ALIGN: center
}
.shop-custom .bd {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; LINE-HEIGHT: 1.2; PADDING-TOP: 5px
}
.expanded .shop-custom {
	WIDTH: 100%! important
}
.custom-area TABLE {
	MARGIN: 0px auto; BORDER-COLLAPSE: separate
}
.custom-area P {
	LINE-HEIGHT: 1.4
}
.custom-area STRONG {
	FONT-WEIGHT: 700
}
.custom-area EM {
	FONT-STYLE: italic
}
.custom-area IMG {
	VERTICAL-ALIGN: baseline
}
OBJECT {
	VERTICAL-ALIGN: baseline
}
#shop-custom-info {
	PADDING-LEFT: 8px
}
.grid .pic {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; OVERFLOW: hidden; BORDER-LEFT: #ccc 1px solid; WIDTH: 160px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 160px; TEXT-ALIGN: center
}
.grid .pic A {
	DISPLAY: block; FONT: 140px/1 Arial; VERTICAL-ALIGN: middle; WIDTH: 160px; HEIGHT: 160px
}
.grid .pic A IMG {
	MAX-WIDTH: 160px; VERTICAL-ALIGN: middle; MAX-HEIGHT: 160px
}
.col-sub .box .shop-display .bd {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.grid UL:unknown {
	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: " "
}
.grid UL {
	MARGIN: 10px 0px; ZOOM: 1
}
.grid LI {
	FLOAT: left; MARGIN: 0px 0px 20px 6px; WIDTH: 175px; _width: 170px
}
.grid .item {
	MARGIN: auto; WIDTH: 160px; TEXT-ALIGN: center
}
.grid .desc {
	OVERFLOW: hidden; WORD-BREAK: break-all; LINE-HEIGHT: 1.2; PADDING-TOP: 5px; HEIGHT: 42px; WORD-WRAP: break-word
}
.grid .price {
	OVERFLOW: hidden; PADDING-TOP: 5px; WHITE-SPACE: nowrap
}
.grid .price SPAN {
	PADDING-RIGHT: 4px; COLOR: #999
}
.grid .price STRONG {
	FONT-WEIGHT: 700; COLOR: #f60
}
.grid .sales-amount {
	COLOR: #666; PADDING-TOP: 5px; HEIGHT: 18px
}
.grid .sales-amount EM {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-WEIGHT: 700; PADDING-BOTTOM: 0px; COLOR: #ceaa00; PADDING-TOP: 0px
}
.price .vip {
	COLOR: #999; HEIGHT: 20px
}
.privilege .now {
	TEXT-DECORATION: line-through
}
.privilege .now STRONG {
	FONT-WEIGHT: 400; COLOR: #999
}
.grid .price .market {
	DISPLAY: none
}
.grid .more-items {
	MARGIN: 5px; HEIGHT: 20px
}
.grid .more-items A {
	BORDER-RIGHT: #e65c00 1px solid; BORDER-TOP: #e65c00 1px solid; BACKGROUND: #f60; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffb75a',EndColorStr='#ff6600'); FLOAT: right; MARGIN-LEFT: 12px; BORDER-LEFT: #e65c00 1px solid; WIDTH: 80px; COLOR: #fff; LINE-HEIGHT: 20px; BORDER-BOTTOM: #e65c00 1px solid; HEIGHT: 20px; TEXT-ALIGN: center; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffb75a',EndColorStr='#ff6600')"
}
.c-value-no {
	BACKGROUND-POSITION: -64px -12px; DISPLAY: inline-block; VERTICAL-ALIGN: inherit! important; OVERFLOW: hidden; WIDTH: 60px; HEIGHT: 12px! important; TEXT-ALIGN: left
}
.c-value-no I {
	BACKGROUND-POSITION: -64px 0px; OVERFLOW: hidden; WIDTH: 0px
}
.small LI {
	MARGIN: 0px 8px 20px; WIDTH: 120px; _overflow: hidden
}
.grid-m .main-wrap .small LI {
	WIDTH: 142px
}
.grid-m0 .main-wrap .small LI {
	WIDTH: 142px
}
.grid-m0s5 .main-wrap .small LI {
	WIDTH: 132px
}
.grid-s5m0 .main-wrap .small LI {
	WIDTH: 132px
}
.small .item {
	WIDTH: 120px
}
.small .pic {
	MARGIN: 0px auto; WIDTH: 120px; HEIGHT: 120px; _width: 118px
}
.small .pic A {
	FONT-SIZE: 108px; WIDTH: 120px; HEIGHT: 120px; _width: 118px
}
.small .pic A IMG {
	MAX-WIDTH: 120px; MAX-HEIGHT: 120px
}
.small .price SPAN {
	DISPLAY: none
}
.grid-m .small LI {
	MARGIN: 0px 18px 20px; _margin: 0 16px 20px
}
.big LI {
	MARGIN: 0px 12px 20px; WIDTH: 222px; _margin: 0 8px 20px
}
.big .item {
	WIDTH: 222px
}
.big .pic {
	WIDTH: 220px; HEIGHT: 220px
}
.big .pic A {
	FONT-SIZE: 200px; WIDTH: 220px; HEIGHT: 220px
}
.big .pic A IMG {
	MAX-WIDTH: 220px; MAX-HEIGHT: 220px
}
.grid-m .big LI {
	MARGIN: 0px 6px 20px
}
.row LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 90px; MARGIN-BOTTOM: 7px; PADDING-BOTTOM: 7px; PADDING-TOP: 32px; BORDER-BOTTOM: #ccc 1px dashed; HEIGHT: 48px
}
.row .pic {
	BORDER-RIGHT: #e4e4e4 1px solid; BORDER-TOP: #e4e4e4 1px solid; FLOAT: left; MARGIN: -32px 0px 0px -90px; BORDER-LEFT: #e4e4e4 1px solid; WIDTH: 80px; BORDER-BOTTOM: #e4e4e4 1px solid; POSITION: relative; HEIGHT: 80px; TEXT-ALIGN: center; _display: inline
}
.row .pic A {
	DISPLAY: block; FONT: 72px/1 Arial; VERTICAL-ALIGN: middle; WIDTH: 80px; HEIGHT: 80px
}
.row .pic A IMG {
	MAX-WIDTH: 80px; VERTICAL-ALIGN: middle; MAX-HEIGHT: 80px
}
.row .desc {
	FLOAT: left; WIDTH: 400px; TEXT-ALIGN: left
}
.row .price {
	FLOAT: left; WIDTH: 178px
}
.row .price STRONG {
	PADDING-LEFT: 16px; FONT-SIZE: 14px; BACKGROUND: url(http://a.tbcdn.cn/sys/common/img/rmb.png) no-repeat 0px 0px; MARGIN-LEFT: 0.5em; COLOR: #f50
}
.row .remain-date {
	FLOAT: left; WIDTH: 68px
}
.row .price .market {
	DISPLAY: none
}
.row .sales-amount {
	DISPLAY: none
}
.row .rating {
	DISPLAY: none
}
.col-sub .shop-display .big .shop-list {
	OVERFLOW: hidden; WIDTH: 185px
}
.shop-flashshow .bd {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px! important; OVERFLOW: hidden; PADDING-TOP: 0px! important; BORDER-RIGHT-WIDTH: 0px
}
.shop-links UL LI {
	MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 5px; WIDTH: 160px; BORDER-BOTTOM: #eee 1px dashed
}
.col-sub .box .shop-rank .bd {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; PADDING-TOP: 3px
}
.col-extra .box .shop-rank .bd {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; PADDING-TOP: 3px
}
.shop-rank .tab-nav {
	Z-INDEX: 1; POSITION: relative; HEIGHT: 27px; _margin-bottom: -1px
}
.shop-rank .tab-nav LI {
	BORDER-RIGHT: #b2d1ff 1px solid; BORDER-TOP: #b2d1ff 1px solid; FLOAT: left; MARGIN-LEFT: 5px; BORDER-LEFT: #b2d1ff 1px solid; BORDER-BOTTOM: #b2d1ff 1px solid; HEIGHT: 26px; BACKGROUND-COLOR: #f0f7ff; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0
}
.shop-rank .tab-nav SPAN {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; CURSOR: pointer; LINE-HEIGHT: 28px; PADDING-TOP: 0px
}
.shop-rank .tab-nav .selected {
	BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #fff
}
.shop-rank .tab-nav .selected SPAN {
	COLOR: #000
}
.shop-rank .rank-panels {
	BORDER-TOP: #b2d1ff 1px solid; TEXT-ALIGN: center
}
.shop-rank .rank-panel UL {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.shop-rank .rank-panel UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 9px; OVERFLOW: hidden; PADDING-TOP: 9px; BORDER-BOTTOM: #eee 1px dashed; HEIGHT: 42px
}
.shop-rank .no-collect {
	BORDER-RIGHT: #ffd863 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #ffd863 1px solid; DISPLAY: inline-block; PADDING-LEFT: 15px; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fef7ca',EndColorStr='#fff3a9'); PADDING-BOTTOM: 5px; BORDER-LEFT: #ffd863 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ffd863 1px solid; ZOOM: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px
}
.shop-rank .no-traded {
	BORDER-RIGHT: #ffd863 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #ffd863 1px solid; DISPLAY: inline-block; PADDING-LEFT: 15px; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fef7ca',EndColorStr='#fff3a9'); PADDING-BOTTOM: 5px; BORDER-LEFT: #ffd863 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ffd863 1px solid; ZOOM: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px
}
.shop-rank .no-collect A {
	COLOR: #000; LINE-HEIGHT: 26px; TEXT-DECORATION: none
}
.shop-rank .no-traded A {
	COLOR: #000; LINE-HEIGHT: 26px; TEXT-DECORATION: none
}
.shop-rank .no-collect A:hover {
	COLOR: #f70
}
.shop-rank .no-traded A:hover {
	COLOR: #f70
}
.shop-rank .pic {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; FLOAT: left; BORDER-LEFT: #ccc 1px solid; WIDTH: 40px; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 40px; TEXT-ALIGN: center
}
.shop-rank .pic A {
	DISPLAY: block; FONT-SIZE: 30px; VERTICAL-ALIGN: middle; WIDTH: 40px; LINE-HEIGHT: 1; HEIGHT: 40px; TEXT-ALIGN: center
}
.shop-rank .pic IMG {
	VERTICAL-ALIGN: middle
}
.shop-rank .desc {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 120px; LINE-HEIGHT: 1.2; HEIGHT: 14px; TEXT-ALIGN: left
}
.shop-rank .price {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 120px; LINE-HEIGHT: 1.2; HEIGHT: 14px; TEXT-ALIGN: left
}
.shop-rank .price {
	FONT-SIZE: 13px; COLOR: #f50
}
.shop-rank .price I {
	BACKGROUND-POSITION: -96px -40px
}
.shop-rank .collecter {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 120px; LINE-HEIGHT: 1.4
}
.shop-rank .sale {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 120px; LINE-HEIGHT: 1.4
}
.shop-rank .collecter I {
	FLOAT: left; MARGIN-RIGHT: 3px
}
.shop-rank .sale I {
	FLOAT: left; MARGIN-RIGHT: 3px
}
.shop-rank .collecter I {
	BACKGROUND-POSITION: -80px -56px
}
.shop-rank .sale I {
	BACKGROUND-POSITION: -96px -56px
}
.shop-search INPUT {
	BORDER-RIGHT: #a7a6aa 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #a7a6aa 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; BORDER-LEFT: #a7a6aa 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #a7a6aa 1px solid
}
.shop-search .bd {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
.shop-search UL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 21px; PADDING-TOP: 10px; ZOOM: 1
}
.shop-search UL:unknown {
	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: " "
}
.shop-search LI:unknown {
	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: " "
}
.shop-search LI {
	PADDING-LEFT: 50px; ZOOM: 1; HEIGHT: 25px
}
.shop-search LI LABEL {
	FLOAT: left; MARGIN-LEFT: -50px; WIDTH: 50px; TEXT-ALIGN: right
}
.shop-search .keyword INPUT {
	WIDTH: 109px
}
.shop-search .price INPUT {
	WIDTH: 40px
}
.shop-search .hotkeywords {
	HEIGHT: auto
}
.col-sub .shop-search LI {
	MARGIN-BOTTOM: 7px
}
.col-extra .shop-search LI {
	MARGIN-BOTTOM: 7px
}
.main-wrap .shop-search LI {
	FLOAT: left; PADDING-BOTTOM: 5px
}
.main-wrap .shop-search .submit {
	PADDING-LEFT: 10px
}
.shop-search-x .bd {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.shop-search-x .search-x {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 25px; PADDING-TOP: 5px; ZOOM: 1; HEIGHT: 25px; BACKGROUND-COLOR: #ededed
}
.shop-search-x .search-x:unknown {
	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: ' '
}
.shop-search-x .form {
	Z-INDEX: 1; FLOAT: left; POSITION: relative
}
.shop-search-x .form LABEL {
	Z-INDEX: 1; LEFT: 25px; COLOR: #888; POSITION: absolute
}
.shop-search-x .focus LABEL {
	VISIBILITY: hidden
}
.shop-search-x .text {
	BORDER-RIGHT: #c8c1bb 1px solid; PADDING-RIGHT: 0px; BACKGROUND-POSITION: -110px -38px; BORDER-TOP: #c8c1bb 1px solid; PADDING-LEFT: 18px; FLOAT: left; PADDING-BOTTOM: 3px; BORDER-LEFT: #c8c1bb 1px solid; WIDTH: 280px; MARGIN-RIGHT: 0.5em; PADDING-TOP: 4px; BORDER-BOTTOM: #c8c1bb 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #fff
}
.shop-search-x .button {
	MARGIN-TOP: 2px
}
.shop-search-x .keys {
	FLOAT: right; OVERFLOW: hidden; WIDTH: 500px; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.shop-header {
	Z-INDEX: 101; OVERFLOW: hidden; BACKGROUND-REPEAT: no-repeat; POSITION: relative; HEIGHT: 150px
}
.shop-header .nav-cart {
	POSITION: absolute
}
.shop-header .nav-attach {
	POSITION: absolute
}
.shop-header .shop-summary {
	LEFT: 20px; ZOOM: 1; POSITION: absolute; TOP: 30px
}
.shop-header .shop-summary IMG {
	WIDTH: 80px; HEIGHT: 80px
}
.shop-header .shop-summary .shop-logo {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.shop-header .shop-title {
	FLOAT: left
}
.shop-header .shop-title H2 {
	FONT-SIZE: 24px; LINE-HEIGHT: 1; FONT-FAMILY: "Microsoft YaHei"; HEIGHT: auto
}
.shop-header .nav {
	Z-INDEX: 102; LEFT: 0px; WIDTH: 950px; BOTTOM: 0px; POSITION: absolute; HEIGHT: 29px
}
.shop-header .nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; ZOOM: 1; HEIGHT: 25px
}
.shop-header .nav LI {
	DISPLAY: block; FLOAT: left; LINE-HEIGHT: 27px; HEIGHT: 25px
}
.shop-header .nav LI A {
	DISPLAY: block; FLOAT: left; LINE-HEIGHT: 27px; HEIGHT: 25px
}
.shop-header .nav LI A EM {
	DISPLAY: block; FLOAT: left; LINE-HEIGHT: 27px; HEIGHT: 25px
}
.shop-header .nav LI {
	BACKGROUND-IMAGE: none; OVERFLOW: hidden; MARGIN-RIGHT: 2px
}
.shop-header .nav LI A {
	PADDING-RIGHT: 5px; OVERFLOW: hidden
}
.shop-header .nav LI A EM {
	PADDING-RIGHT: 10px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; CURSOR: pointer; PADDING-TOP: 0px
}
.shop-header .nav LI.current A EM {
	FONT-WEIGHT: 700
}
.cat-items {
	BORDER-RIGHT: #787878 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #787878 1px solid; OVERFLOW-Y: auto; PADDING-LEFT: 10px; Z-INDEX: 999; OVERFLOW-X: hidden; PADDING-BOTTOM: 5px; BORDER-LEFT: #787878 1px solid; WIDTH: 520px; MAX-HEIGHT: 256px; PADDING-TOP: 5px; BORDER-BOTTOM: #787878 1px solid; BACKGROUND-COLOR: #fff; _height: 200px
}
.cat-items .cat-hd {
	FONT-WEIGHT: 700; FONT-SIZE: 14px
}
.cat-items .bd {
	MARGIN-TOP: 5px; BACKGROUND: url(http://img05.taobaocdn.com/tps/i5/T1lFtwXjdhXXXXXXXX-1-4.png) repeat-y 240px 0px; OVERFLOW: auto; ZOOM: 1
}
.cat-item {
	FLOAT: left; MARGIN: 0px 10px 20px 0px; WIDTH: 20em
}
.shop-hesper .hd {
	DISPLAY: none
}
.shop-hesper .bd {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.shop-hesper-hd {
	Z-INDEX: 1; MARGIN-BOTTOM: 10px; ZOOM: 1; POSITION: relative
}
.shop-hesper-hd {
	Z-INDEX: 1; MARGIN-BOTTOM: 10px; ZOOM: 1; POSITION: relative
}
.shop-hesper-hd:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; content: ' '
}
.shop-hesper-bd:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; content: ' '
}
.shop-hesper .hesper-cats OL:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; content: ' '
}
.shop-hesper .hesper-cats UL:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; content: ' '
}
.shop-hesper .hesper-cats {
	BORDER-RIGHT: #e5e5e5 1px solid; BORDER-TOP: #e5e5e5 1px solid; PADDING-BOTTOM: 45px; BORDER-LEFT: #e5e5e5 1px solid; BORDER-BOTTOM: #e5e5e5 1px solid; BACKGROUND-COLOR: #fcfcfc
}
.shop-hesper .hesper-cats LI {
	FLOAT: left
}
.shop-hesper .hesper-cats OL {
	PADDING-LEFT: 12px; BORDER-BOTTOM: #f0f0f0 1px solid; HEIGHT: 25px
}
.shop-hesper .hesper-cats OL LI {
	FONT-WEIGHT: 700; FONT-SIZE: 14px; COLOR: #666; LINE-HEIGHT: 25px
}
.shop-hesper .hesper-cats OL A {
	FLOAT: left; MARGIN-RIGHT: 0.5em
}
.shop-hesper .hesper-cats I {
	BACKGROUND-POSITION: -54px -56px; WIDTH: 21px; HEIGHT: 25px
}
.shop-hesper .hesper-cats UL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; ZOOM: 1
}
.shop-hesper .hesper-cats UL LI {
	LIST-STYLE-POSITION: outside; MARGIN-LEFT: 10px; WIDTH: 165px; LINE-HEIGHT: 25px; LIST-STYLE-TYPE: circle; HEIGHT: 25px
}
.shop-hesper .hesper-cats UL LI A {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 165px; WHITE-SPACE: nowrap
}
.shop-hesper .hesper-cats .trigger {
	BACKGROUND-POSITION: -27px -56px; Z-INDEX: 1; RIGHT: 0px; WIDTH: 27px; CURSOR: pointer; POSITION: absolute; TOP: 0px; HEIGHT: 27px
}
.shop-hesper .collapse .trigger {
	BACKGROUND-POSITION: 0px -56px
}
.shop-hesper .hesper-cats .collapse {
	BACKGROUND-POSITION: 0px -56px
}
.shop-hesper .collapse UL {
	DISPLAY: none
}
.shop-hesper .shop-search {
	MARGIN-TOP: -45px; OVERFLOW: hidden; PADDING-TOP: 3px; POSITION: relative; HEIGHT: 42px
}
.shop-hesper .search-form {
	FLOAT: right
}
.shop-hesper .type {
	PADDING-RIGHT: 1em; PADDING-LEFT: 5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.shop-hesper .type INPUT {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: middle; BORDER-RIGHT-WIDTH: 0px
}
.shop-hesper .type LABEL {
	MARGIN-LEFT: -5em; WIDTH: 5em
}
.shop-hesper .search-result {
	PADDING-RIGHT: 13px; PADDING-LEFT: 13px; LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #666; LINE-HEIGHT: 46px; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px
}
.shop-filter {
	BORDER-RIGHT: #e5e5e5 1px solid; BORDER-TOP: #e5e5e5 1px solid; MARGIN-BOTTOM: 10px; OVERFLOW: hidden; BORDER-LEFT: #e5e5e5 1px solid; BORDER-BOTTOM: #e5e5e5 1px solid; HEIGHT: 26px
}
.shop-filter .mode {
	FLOAT: left; MARGIN: 4px 18px 0px 20px
}
.shop-filter .vip {
	FLOAT: left; MARGIN: 4px 18px 0px 20px
}
.shop-filter .vip INPUT {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 0.3em
}
.shop-filter SPAN {
	FLOAT: left
}
.shop-filter .mode A {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 16px; TEXT-INDENT: -99px; MARGIN-RIGHT: 5px; HEIGHT: 16px
}
.grid .mode .mode-row {
	BACKGROUND-POSITION: 0px -24px
}
.row .mode .mode-row {
	BACKGROUND-POSITION: -16px -24px
}
.grid .mode .mode-grid {
	BACKGROUND-POSITION: -48px -24px
}
.row .mode .mode-grid {
	BACKGROUND-POSITION: -32px -24px
}
.shop-filter .taxis {
	MARGIN-TOP: 4px; FLOAT: left
}
.shop-filter .taxis A {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; FLOAT: left; MARGIN-LEFT: -1px; BORDER-LEFT: #ccc 1px solid; WIDTH: 40px; COLOR: #333; LINE-HEIGHT: 16px; BORDER-BOTTOM: #ccc 2px solid; HEIGHT: 16px; BACKGROUND-COLOR: #eee
}
.shop-filter .taxis A:hover {
	COLOR: #000; TEXT-DECORATION: none
}
.shop-filter .taxis .up {
	Z-INDEX: 1; BORDER-LEFT-COLOR: #308ed1; BORDER-BOTTOM-COLOR: #308ed1; BORDER-TOP-COLOR: #308ed1; POSITION: relative; BORDER-RIGHT-COLOR: #308ed1
}
.shop-filter .taxis .down {
	Z-INDEX: 1; BORDER-LEFT-COLOR: #308ed1; BORDER-BOTTOM-COLOR: #308ed1; BORDER-TOP-COLOR: #308ed1; POSITION: relative; BORDER-RIGHT-COLOR: #308ed1
}
.shop-filter .taxis .icon {
	BACKGROUND-POSITION: -64px -24px
}
.shop-filter .taxis .up .icon {
	BACKGROUND-POSITION: -96px -24px
}
.shop-filter .taxis .down .icon {
	BACKGROUND-POSITION: -112px -24px
}
.shop-filter .taxis .fav .icon {
	BACKGROUND-POSITION: -80px -24px
}
.shop-filter .taxis .price {
	PADDING-TOP: 0px
}
.col-sub .shop-display .big .shop-list {
	OVERFLOW: hidden; _width: 185px
}
.col-extra .shop-display .big .shop-list {
	OVERFLOW: hidden; _width: 185px
}
.shop-bangpai .pic SPAN {
	BACKGROUND: url(http://img02.taobaocdn.com/tps/i2/T16uX2XfpGXXXXXXXX-38-86.gif) no-repeat 0px 0px
}
.shop-bangpai .invitation {
	BACKGROUND: url(http://img02.taobaocdn.com/tps/i2/T16uX2XfpGXXXXXXXX-38-86.gif) no-repeat 0px 0px
}
.shop-bangpai .vote {
	BACKGROUND: url(http://img02.taobaocdn.com/tps/i2/T16uX2XfpGXXXXXXXX-38-86.gif) no-repeat 0px 0px
}
.shop-bangpai .essence {
	BACKGROUND: url(http://img02.taobaocdn.com/tps/i2/T16uX2XfpGXXXXXXXX-38-86.gif) no-repeat 0px 0px
}
.shop-bangpai .clearfix {
	DISPLAY: block; OVERFLOW: hidden
}
.shop-bangpai .newlists {
	DISPLAY: block; OVERFLOW: hidden
}
.shop-bangpai DL {
	DISPLAY: block; OVERFLOW: hidden
}
.shop-bangpai .newlists LI {
	DISPLAY: block; OVERFLOW: hidden
}
.shop-bangpai .newlists LI EM {
	DISPLAY: block; OVERFLOW: hidden
}
.shop-bangpai .newlists LI A {
	DISPLAY: block; OVERFLOW: hidden
}
.shop-bangpai .newlists LI SPAN {
	DISPLAY: block; OVERFLOW: hidden
}
.shop-bangpai .bangpai-grids A.button {
	DISPLAY: block; OVERFLOW: hidden
}
.shop-bangpai {
	FONT-FAMILY: 'ËÎÌו'
}
.shop-bangpai .hd {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND: #ebebeb; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 25px; BORDER-BOTTOM: #ccc 1px; HEIGHT: 25px
}
.shop-bangpai .hd H3 {
	COLOR: #000
}
.shop-bangpai .bd {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.shop-bangpai .bangpai-grids {
	PADDING-RIGHT: 0px; PADDING-LEFT: 9px; PADDING-BOTTOM: 0px; PADDING-TOP: 9px; _padding: 9px 0 0 8px
}
.shop-bangpai .bangpai-grids .pic {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; OVERFLOW: hidden; BORDER-LEFT: #ccc 1px solid; WIDTH: 120px; BORDER-BOTTOM: #ccc 1px solid; POSITION: relative; HEIGHT: 120px; TEXT-ALIGN: center
}
.shop-bangpai .bangpai-grids .pic A {
	DISPLAY: block; FONT: 108px/1 Arial; VERTICAL-ALIGN: middle; WIDTH: 120px; POSITION: relative; HEIGHT: 120px
}
.shop-bangpai .bangpai-grids .pic A IMG {
	VERTICAL-ALIGN: middle; MAX-HEIGHT: 120px
}
.shop-bangpai .bangpai-grids .pic SPAN {
	BACKGROUND-POSITION: 0px 0px; LEFT: 0px; WIDTH: 37px; COLOR: #fff; TEXT-INDENT: -7px; LINE-HEIGHT: 18px; POSITION: absolute; TOP: 0px; HEIGHT: 17px; _line-height: 15px
}
.shop-bangpai DL {
	DISPLAY: inline; MARGIN: 0px 30px 10px 0px; WIDTH: 122px; ZOOM: 1; WHITE-SPACE: nowrap
}
.shop-bangpai DL.last {
	MARGIN-RIGHT: 0px
}
.shop-bangpai DL DD.title A {
	FONT-SIZE: 14px
}
.shop-bangpai DL DD.title {
	MARGIN-TOP: 5px
}
.shop-bangpai DL DD.last {
	MARGIN-TOP: 5px
}
.shop-bangpai DL DD EM {
	FONT: bold 14px/16px "ËÎÌו"; COLOR: #f00
}
.shop-bangpai .newlists {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.shop-bangpai .newlists LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 16px; PADDING-TOP: 5px; BORDER-BOTTOM: #ededed 1px solid; POSITION: relative; HEIGHT: 15px; _padding-top: 2px
}
.shop-bangpai .newlists LI A {
	LINE-HEIGHT: 18px; POSITION: absolute; TOP: 5px; HEIGHT: 19px; _top: 2px
}
.shop-bangpai .newlists LI EM {
	LINE-HEIGHT: 18px; POSITION: absolute; TOP: 5px; HEIGHT: 19px; _top: 2px
}
.shop-bangpai .newlists LI SPAN {
	LINE-HEIGHT: 18px; POSITION: absolute; TOP: 5px; HEIGHT: 19px; _top: 2px
}
.shop-bangpai .newlists LI SPAN A {
	FLOAT: left; POSITION: static; TOP: 0px
}
.shop-bangpai .title {
	LEFT: 18px; WIDTH: 275px
}
.shop-bangpai .author {
	LEFT: 303px; WIDTH: 150px
}
.shop-bangpai .examine {
	LEFT: 455px; WIDTH: 150px
}
.shop-bangpai .time {
	LEFT: 610px; WIDTH: 120px
}
.shop-bangpai .newlists LI.last {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.shop-bangpai .newlists EM {
	COLOR: #808080
}
.shop-bangpai .invitation {
	DISPLAY: inline-block; WIDTH: 15px; MARGIN-RIGHT: 5px; HEIGHT: 18px
}
.shop-bangpai .vote {
	DISPLAY: inline-block; WIDTH: 15px; MARGIN-RIGHT: 5px; HEIGHT: 18px
}
.shop-bangpai .essence {
	DISPLAY: inline-block; WIDTH: 15px; MARGIN-RIGHT: 5px; HEIGHT: 18px
}
.shop-bangpai .essence {
	BACKGROUND-POSITION: 0px -71px; FLOAT: left; MARGIN-LEFT: 5px
}
.shop-bangpai .invitation {
	BACKGROUND-POSITION: 0px -22px
}
.shop-bangpai .vote {
	BACKGROUND-POSITION: 0px -45px
}
.shop-bangpai .foot-bar {
	CLEAR: both; BORDER-TOP: #ebebeb 1px solid; BACKGROUND: #f5f5f5; MARGIN: 10px 0px 0px -9px; PADDING-TOP: 10px; ZOOM: 1; HEIGHT: auto
}
.shop-bangpai .foot-bar:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: " "
}
.shop-bangpai .foot-bar A {
	BORDER-RIGHT: #e65c00 1px solid; BORDER-TOP: #e65c00 1px solid; BACKGROUND: #f60; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffb75a',EndColorStr='#ff6600'); FLOAT: left; MARGIN: 0px 0px 10px 5px; BORDER-LEFT: #e65c00 1px solid; WIDTH: 80px! important; COLOR: #fff; LINE-HEIGHT: 20px; BORDER-BOTTOM: #e65c00 1px solid; HEIGHT: 20px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffb75a',EndColorStr='#ff6600')"
}
.shop-bangpai .foot-bar A.more {
	FLOAT: right; MARGIN-RIGHT: 14px; FONT-FAMILY: "ËÎÌו"; _margin-right: 5px
}
.shop-bangpai .bangpai-grids A.button {
	FONT-WEIGHT: normal; WIDTH: 64px; LINE-HEIGHT: 25px; HEIGHT: 21px; TEXT-ALIGN: center; _line-height: 18px
}
.shop-bangpai .bangpai-grids A.button:hover {
	TEXT-DECORATION: none
}
.shop-bangpai .bangpai-load {
	PADDING-RIGHT: 45px; PADDING-LEFT: 45px; PADDING-BOTTOM: 60px; WIDTH: auto; PADDING-TOP: 60px; TEXT-ALIGN: center
}
.shop-bangpai .bd {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
.shop-slider .bd {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.shop-slider .slider-promo {
	Z-INDEX: 1; OVERFLOW: hidden; POSITION: relative
}
.shop-slider .lst-main {
	OVERFLOW: hidden; _width: 100%
}
.shop-slider .lst-main A {
	DISPLAY: block; OVERFLOW: hidden
}
.shop-slider .lst-trigger {
	Z-INDEX: 100; RIGHT: 4px; COLOR: #fff; BOTTOM: 9px; LINE-HEIGHT: 17px; POSITION: absolute; HEIGHT: 19px
}
.shop-slider .lst-trigger LI {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; FONT-WEIGHT: 700; FLOAT: left; BORDER-LEFT: #fff 1px solid; WIDTH: 17px; CURSOR: pointer; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #999; TEXT-ALIGN: center
}
.shop-slider .lst-trigger .current {
	WIDTH: 22px; BACKGROUND-COLOR: #000
}
.shop-slider IMG {
	
}
.customer-service .service-block {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #dbdbdb 1px dashed
}
.customer-service .service-content {
	PADDING-LEFT: 10px
}
.customer-service .service-tel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.customer-service .customer-desc {
	MARGIN-TOP: 2px; FLOAT: left; OVERFLOW: hidden; WIDTH: 75px; HEIGHT: 18px
}
.customer-service .bd {
	PADDING-BOTTOM: 0px; _padding-bottom: 0
}
.service-group LI {
	HEIGHT: 21px
}
.service-group .groupname {
	DISPLAY: block; FLOAT: left; OVERFLOW: hidden; WIDTH: 77px; HEIGHT: 20px
}
